@model IEnumerable<HanClothesShopProject.Models.Message>
@inject dbContext _dbContext
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<style>
    .container_box {
        display: flex;
        width: 100%; /* 設置為100%以適應視窗 */
        height: 800px;
        box-shadow: 0 0 10px #ccc;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

        .container_box .chat-left {
            flex: 0 0 30%; /* 左側佔30% */
            padding: 10px;
            border-right: 1px solid #ccc;
            box-sizing: border-box; /* 包含內邊距和邊框 */
        }

    .chat-container {
        flex: 0 0 70%; /* 右側佔70% */
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box; /* 包含內邊距和邊框 */
    }

    .chat-messages {
        list-style: none;
        padding: 0;
        margin: 0;
        height: calc(100% - 60px);
        overflow-y: auto;
    }

    .message {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        transition: background 0.3s;
    }

        .message img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .message.left p {
            background: #f0f0f0;
            padding: 10px;
            border-radius: 10px 10px 10px 0;
            max-width: 70%;
            word-wrap: break-word;
        }

        .message.right {
            flex-direction: row-reverse;
        }

            .message.right p {
                background: #b3d4fc;
                padding: 10px;
                border-radius: 10px 10px 0 10px;
                max-width: 70%;
                word-wrap: break-word;
            }

    .chat-input {
        display: flex;
        margin-top: 10px;
    }

        .chat-input input[type="text"] {
            flex-grow: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px 0 0 10px;
            font-size: 16px;
        }

        .chat-input button {
            padding: 10px 20px;
            background: #007bff;
            color: white;
            border: none;
            border-radius: 0 10px 10px 0;
            cursor: pointer;
            font-size: 16px;
        }

            .chat-input button:hover {
                background: #0056b3;
            }

    .chat-left p {
        font-weight: bold;
        text-align: center;
    }

    .chat-messages2 {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .chat-messages2 li {
            padding: 20px 0;
        }

        .chat-messages2 img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            vertical-align: middle;
        }

        .chat-messages2 a {
            color: #000;
            text-decoration: none;
        }

    /* 滚动条样式 */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        border-radius: 10px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }
</style>


<br />
<br />
<br />
<br />
<br />
<br />

<div class="container_box">
    <!-- 左側列表 -->
    <div class="chat-left">
        <p>近期消息</p>
        <!-- 左側發送過消息的頁面列表 -->
        <ul class="chat-messages2">
            @foreach (Message item in Model)
            {
                User info = _dbContext.Users.Where(p => p.Id == item.FromUserId).FirstOrDefault();
                @if (info != null)
                {
                    <li>
                        @if (item.FromUserId != ViewBag.uid)
                        {
                            <a href="/Home/Send?rid=@item.FromUserId">
                                <img src="@info.Img" alt="發送者頭像" class="avatar" />
                                <b>@info.Nickname</b>
                            </a>
                        }
                    </li>
                }
            }
        </ul>
    </div>
    <!-- 右側聊天框 -->
    <div class="chat-container">
        @if (ViewBag.rid != null && ViewBag.uinfo != null && ViewBag.rid != 0)
        {
            <p align="center">
                <img src="@ViewBag.uinfo.Img" id="pic" width="30" height="30" style="border-radius:50%" />
                <span id="nick">@ViewBag.uinfo.Nickname</span>
            </p>
            <ul class="chat-messages" id="chat-box">
                <!-- 聊天消息列表 -->
            </ul>
            <div class="chat-input">
                <input type="text" id="message-content" placeholder="留下你想說的話..." />
                <button type="button" id="send-button">發送</button>
            </div>
        }
        else
        {
            <p>點擊左側聊天框查看聊天內容</p>
        }
    </div>
</div>

<!-- 核心實現異步通訊的代碼 -->
<script src="/js/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl(`/chathub`)
        .build();

    // SignalR 連接
    connection.start()
        .then(() => {
            console.log("SignalR 連接成功.");
        })
        .catch(err => console.error(err.toString()));

    // 處理連接過程事務
    connection.onreconnecting(error => {
        console.warn(`SignalR 連接過程錯誤： "${error}". 正在重新連接.`);
    });

    connection.onreconnected(connectionId => {
        console.log(`重新連接成功，連接ID是： "${connectionId}".`);
    });

    connection.onclose(error => {
        console.error(`關閉連接過程的錯誤： "${error}". 嘗試重新連接.`);
    });

    // 消息列表
    const messageList = document.getElementById('chat-box');
    // 發送按鈕
    const sendButton = document.getElementById('send-button');
    // 消息內容
    const messageContent = document.getElementById('message-content');

    // 顯示消息列表內容
    function appendMessage(senderId, content) {
        const messageLi = document.createElement('li');
        messageLi.className = 'message ' + (senderId != @ViewBag.rid ? 'right' : 'left');
        var img = document.createElement("img");
        if (senderId != @ViewBag.rid) {
            img.src = "@HttpContextAccessor.HttpContext.Session.GetString("img")";
        } else {
            img.src = document.getElementById('pic').src;
        }
        messageLi.appendChild(img);
        var messageText = document.createElement("p");
        messageText.textContent = content;
        messageLi.appendChild(messageText);
        messageList.appendChild(messageLi);

        // 確保滾動到底部
        messageList.scrollTop = messageList.scrollHeight;
    }

    // 接收消息結果
    connection.on("ReceiveMessage", (senderId, content) => {
        console.log("從用戶處接收到消息：" + senderId + ": " + content);
        appendMessage(senderId, content);
    });

    // 發送消息
    sendButton.addEventListener('click', function () {
        const content = messageContent.value.trim();
        if (content) {
            const receiverId = @ViewBag.rid;
            connection.invoke("SendMessage", receiverId, content)
                .then(() => {
                    console.log("發送的內容是: " + content);
                })
                .catch(err => console.error(err.toString()));
            messageContent.value = '';
        }
    });

    // 按回車發送消息
    document.getElementById('message-content').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            const content = messageContent.value.trim();
            if (content) {
                const receiverId = @ViewBag.rid;
                connection.invoke("SendMessage", receiverId, content)
                    .then(() => {
                        console.log("發送的內容是: " + content);
                    })
                    .catch(err => console.error(err.toString()));
                messageContent.value = '';
            }
        }
    });

    // 加載歷史聊天記錄
    loadChatHistory();
    function loadChatHistory() {
        const receiverId = @ViewBag.rid;

        fetch(`/api/chat/history/${receiverId}`)
            .then(response => response.json())
            .then(data => {
                data.forEach(item => {
                    appendMessage(item.fromUserid, item.message);
                });
            })
            .catch(err => console.error("獲取歷史聊天記錄失敗: ", err));
        messageList.scrollTop = messageList.scrollHeight;
    }
</script>
